<h2>Quên mật khẩu</h2>
<%= form_with(url: forgot_password_path, method: :post) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Gửi yêu cầu đặt lại mật khẩu" %>
  </div>
<% end %>