<!DOCTYPE html>
<html>
<head>
<title>Password Reset Request</title>
</head>
<body>
<h1>Password Reset Request</h1>
 <%#= @user.email %>
<p>You've requested to reset your password. To reset your password, please click the link below:</p>
<a href="<%#= edit_password_reset_url(@user.reset_token, email: @user.email) %>">Reset Password</a>
<p>If you didn't request this, please ignore this email.</p>
</body>
</html>
