



<!DOCTYPE html>
<html lang="en">
<style>
    h1 {
        background-color: #0077cc;
        color: #000;
        text-align: left; /* căn tiêu đề về phía bên trái */
        padding: 10px; /* thêm padding cho tiêu đề */
        margin-left: 20px; /* tạo khoảng cách từ lề trái */
    }
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h1 style="background-color: #0077cc; color: #000;">Branch Register</h1>
</head>
<body>


<div class="container mt-5">
  <div class="row justify-content-start">
    <div class="col-md-6">
      <%= form_with(model: @division, url: division_path, local: true, method: :put) do |form| %>
        <% fields = [
          { attribute: :company_code, label: 'Company Code', placeholder: 'Enter company code' },
          { attribute: :company_name, label: 'Company Name', placeholder: 'Enter company name' },
          { attribute: :branch_code, label: 'Branch Code', placeholder: 'Enter branch code' },
          { attribute: :branch_name, label: 'Branch Name', placeholder: 'Enter branch name' },
          { attribute: :division_code, label: 'Division Code', placeholder: 'Enter company code' },
          { attribute: :division_name, label: 'Division Name', placeholder: 'Enter company name' },
          { attribute: :address, label: 'Address', placeholder: 'Enter address' },
          { attribute: :area, label: 'Area', placeholder: 'Enter area' },
          { attribute: :email, label: 'Email', placeholder: 'Enter email' },
          { attribute: :phone, label: 'Phone', placeholder: 'Enter phone number' }
        ] %>
        <% fields.each do |field| %>
          <div class="row mb-3">
            <div class="col-md-2">
              <%= form.label field[:attribute], "<strong>#{field[:label]}</strong>".html_safe, class: 'form-label form-section-label' %>
            </div>
            <div class="col-md-9">
              <%= form.text_field field[:attribute], placeholder: field[:placeholder], class: 'form-control custom-border', style: 'max-width: 200px;' %>
            </div>
          </div>
        <% end %>

        <div class="d-flex justify-content-end fixed-bottom mb-3 me-3">
          <button type="submit" class="btn btn-primary me-2">Update</button>
          <%= link_to 'Back', divisions_path(@division.id), class: 'btn btn-secondary' %>
        </div>
      <% end %>
      </div>
      </div>
      </div>
      </body>
</html>
<style>


    .custom-border {
        border-color: #007bff; /* Màu viền của trường */
    }

    .avatar-image {
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

</style>
<style>
    .button-group {
        position: fixed;
        bottom: 20px;
        left: 20px;
        display: flex;
        flex-direction: column;
    }

    .button-group button {
        margin-bottom: 10px;
    }
</style>





